@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Montserrat', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* LINKS */
a {
  color: inherit;
  text-decoration: none;
}

/* MEDIA */
video {
  display: block;
  max-width: 100%;
}
